ion-content{
  --background: black;
  font-family: 'SignikaNegative';
}

.backIcon{
  color: white;
}

.titleInput{
  font-size: 25px;
  color: white;
  font-family: 'SignikaNegative';
}

.toolbar{
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: 'SignikaNegative';
}

.input{
  padding: 10px;
  height: 100%;
  color: white;
  font-family: 'SignikaNegative';
}
