ion-content{
  --background: black;
  font-family: 'SignikaNegative';
}

.content{
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1{
  margin: 0px;
  color: #CCCCCC;
}

.content p{
  margin-top: 10px;
  color: #999999;
}

ion-button{
  --background: black;
  --border-radius: 100%;
  width: 50px;
  height: 50px;

}

ion-toolbar{
  --background: black;
  font-family: 'SignikaNegative';

}

.toolbar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-toolbar span{
  color: white;
  font-weight: 525;
  font-size: 20px;
  
}

.footerIcon{
  color: #569CD6;
}

ion-footer{
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
}

ion-footer ion-button{

  margin: 10px;
  --background: #3A3A3A;
}