.notesContainer{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
}

.savedNote{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 200px;
  margin: 10px;
  overflow:hidden;
  text-overflow: ellipsis;
}

.savedNote div{
  background-color: #171717;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  
}

.ion-activatable{
  position: relative;
  overflow: hidden;

}

.savedNote span{
  margin: 5px;
  width: 150px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-height:60px;
  display: flex;
  justify-content: center;
}

.empty{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100;
  justify-content: center;
  align-items: center;
}

ion-modal{
 
  bottom: 0;
  --min-width: 250px;
  --height: fit-content;
  /* --min-height: 125px; */
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --background: #252525;
  align-items: end;
  padding: 20px;
  
}

.deleteModalContent{
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 25px;
  font-family: 'SignikaNegative';
}

.deleteModalContent span{
  margin: 10px 40px;
}

.deleteModalContent > div{
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.deleteModalContent > div > div{
  width: 1px;
  /* margin: 0px 20px; */
  height: 25px;
  background-color: aliceblue;
}

.red{
  color: #F46A4D;
}