.notesContainer{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
}

.savedNote{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 200px;
  margin: 10px;

}

.savedNote div{
  background-color: #171717;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  width: 100%;
}

.savedNote span{
  margin: 5px;
}

.empty{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100;
  justify-content: center;
  align-items: center;
}